<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cajazeiras | Dados Covid.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>
<body id="page">
        
    <div id="header">
        <div>
            <img class="logo" src="https://cajazeiras.pb.gov.br/imagens/logo.png">
        </div>

        <h2 class="cab">MONITORANDO O CORONAVÍRUS (COVID-19)</h2>
    </div>  

    <div id="nav">
        <ul>
            <li><a href="{{url_for('main.homepage')}}" class="disable_underlined">BOLETIM</a></li>
            <li><a href="{{url_for('cons.conspage')}}" class="disable_underlined">EXAME</a></li>
            <li><a href="{{url_for('info.infopage')}}" class="disable_underlined">REDES SOCIAIS</a></li>
            <br>
            <li><a href="{{url_for('admin.adminpage')}}" class="disable_underlined">ADMIN</a></li></li>
        </ul>
    </div>
    
    <div>
        <form id='adm' class= "box" action="" method="post">
            {{ form.csrf_token }}  
            <h3 style='color: #191919;'>ADMIN<h3>
            {{ form.user(class="form-control",placeholder="User", style="background-color: #191919")}}
            {{ form.senha(class="form-control",placeholder="Senha", style="background-color: #191919")}}            
            <br>
            <b><input style="background-color: #191919; color: #fcfcfc;"
            class="button is-primary"  type="submit" name="" value="Enviar"></b>
        </form>
    </div>
    {% if error %}
    <div class="notification is-danger">
      {{ error }}
    </div>
    {% endif %}
