<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cajazeiras | Dados Covid.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>
<body>
    <div id="header">
            <h2 class="cab">MONITORANDO O CORONAVÍRUS (COVID-19)</h2>
            <h3 class="cab">Município de Cajazeiras - PB</h3>
            <h4 class="cab">Sistema atualizado em: dd/mm/aaaa às hh:mm</h4>
    </div>
        
    <div id="nav">
        <ul>
            <li><a href="{{url_for('main.homepage')}}" class="disable_underlined">BOLETIM</a></li>
            <li><a href="{{url_for('cons.conspage')}}" class="disable_underlined">EXAME</a></li>
            <li><a href="{{url_for('info.infopage')}}" class="disable_underlined">REDES SOCIAIS</a></li>
        </ul>
    </div>
        
    <div>
        <form class="box" action="index.html" method="post">
            <h3>Marcação de exame</h3>
            <input type="text" name="" placeholder="Nome Completo">
            <input type="text" name="" placeholder="Gênero">
            <input type="text" name="" placeholder="Idade">
            <input type="email" name="" placeholder="E-mail">
            <input type="tel" name="" placeholder="Telefone">
            <input type="text" name="" placeholder="Bairro">
            <input type="text" name="" placeholder="Grupo de Risco">
            <input type="text" name="" placeholder="Sintomas">
            <br>
            <b><input type="submit" name="" value="Enviar"></b>
              
        </form>
    </div>
        
    <div id="footer">
        <p class="cop">&copy; 2020</p>
    </div>

</body>
</html>